@import '../variables';

.testpage {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}


.shake {

    &.shaking{
        animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
    }
}