@-webkit-keyframes slide-in-left {
    0% {
        right: 120%;
    }
}

@keyframes slide-in-left {
    0% {
        right: 120%;
    }
}

@-webkit-keyframes slide-out-left {
    0% {
        right: 0;
    }
}

@keyframes slide-out-left {
    0% {
        right: 0;
    }
}
